<section data-ng-controller="HomeController">
    <style>
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 2px;
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    </style>
    <div class='row'>
        <div class='col-md-12'>
            <!-- <img style='width:100%; padding: 40px 0;' src='/img/brand/hero.png' /> -->
            <div class="videoWrapper">
                <iframe src="//player.vimeo.com/video/110368015" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <br/><br/><br/><br/>
            <h2 class='green'>Welcome to PortfolioWatch.</h2> 
            <br/>

            <p>This dynamic, online tool provides LPs an inside view of the performance of Scout Ventures’ funds and their underlying portfolio companies in real-time.</p>
 
            <p>In order to better familiarize yourself with the platform, please view the tutorial video above and review the primer document (below) which details each of the corresponding sections of the website. If you have any further questions, please contact the Scout Ventures Team directly.</p>
            <br/>
            <p><a href='/files/PortfolioWatch_Primer.pdf' target='_blank'><span class="glyphicon glyphicon-paperclip"></span> PortfolioWatch Primer</a></p>
            <br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</section>