<div data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand"><img src='img/brand/scout-logo-header02.png'></a>
	</div>

	<nav class='pull-right'>

		<ul data-ng-show="authentication.user">
			<!-- <li data-ng-repeat="item in menu" data-ng-show="authentication.user" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
				<a href="/#!/{{item.link}}">{{item.title}}</a>
			</li> -->
			<li>
				<a href="/#!/">Home </a>
			</li>
			<li>
				<a href="/#!/fund">Funds</a>
			</li>
		</ul>
		<ul data-ng-show="authentication.user.username == 'jamesryan'">
			<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Funds <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#!/funds">List Funds</a></li>
          <li><a href="#!/funds/create">New Fund</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#!/companies">List Companies</a></li>
          <li><a href="#!/companies/create">New Company</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Key Updates <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#!/keyupdates">Key Updates</a></li>
          <li><a href="#!/keyupdates/create">New Key Update</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#!/articles">List Articles</a></li>
          <li><a href="#!/articles/create">New Article</a></li>
        </ul>
      </li>
		</ul>



		<ul data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		</ul>

		<ul class='investor' data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a href="/#!/settings/overview">Overview</a>
					</li>
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
	<!-- <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-show="authentication.user">
			<li data-ng-repeat="item in menu" data-ng-show="authentication.user" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
				<a href="/#!/{{item.link}}">{{item.title}}</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav> -->
</div>