<section data-ng-controller="InvestmentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Investments</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="investment in investments" data-ng-href="#!/investments/{{investment._id}}/edit" class="list-group-item">
            <b>{{investment.for_company.from_fund}}</b> - {{offsetDate(investment.date) | date: 'fullDate'}}&nbsp;&nbsp;&nbsp;{{investment.for_company.name}} &nbsp;{{investment.amount | currency}}
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!investments || investments.length">
    	No Investments yet, why don't you <a href="/#!/investments/create">create one</a>?
    </div>
</section>