<section data-ng-controller="InvestmentsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{investment.name}}</h1>
	</div>
	<!-- data-ng-show="authentication.user._id == investment.user._id" -->
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/investments/{{investment._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{investment.created | date:'mediumDate'}} by {{investment.user.displayName}}</em>
	</small>
</section>