<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <br/>
  <!-- {{article}}<br/><br/>
  {{article.for_company}} -->
  <div class='row'>
  <div class='col-md-3'>
    <h1 class='green'>{{article.for_company.name}}</h1>
    <br/>
      <a href='#!/companies/{{article.for_company._id}}'>
      <div class="hexagon" my-background-profile="{{article.for_company.image}}">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      </a>
    <!-- <img src='{{article.for_company.image}}' /> -->
    <br/>

    <br/>
  </div>

  <div class='col-md-offset-1 col-md-8'>
    <div class='row'>
      <div class='col-md-8'>
        <h2 class='green'>{{article.headline | uppercase}}</h2>
      </div>

      <div class='col-md-4'>
        <table style='margin-top: 20px'>
          <tr>
            <td style='color: #aaa'><small>Author&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></td>
            <td><small>{{article.author}}</small></td>
          </tr>
          <tr>
            <td style='color: #aaa'><small>Date</small></td>
            <td><small>{{article.date_posted | date: shortDate}}</small></td>
          </tr>
        </table>
      </div>

    </div>
    <br/><br/>

    <div ng-bind-html="article.content | markdown"></div>
    <a ng-show="article.link" href='{{article.link}}' target='_blank'>Read More</a>

  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <h4 class='green'>Other Articles About {{article.for_company.name}}</h4>

    <div class='row' ng-repeat="row in rows" imagefill>
        <div class='col-sm-3' ng-repeat="articles in row">
            <div class='article-photo'>
              <a href="#!/articles/{{articles._id}}"><img src='{{articles.image}}' /></a><br/>
            </div>
            <h4><a href="#!/articles/{{articles._id}}">{{articles.headline}}</a></h4>
        </div>
        <hr/>
    </div>
  </div>
</div>

</section>