<section data-ng-controller="FundsController">
    <div class="page-header">
        <h1>New Fund</h1>
    </div>
    <div class="col-md-12">
        <form name='funds' class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Invested Capital</label>
                    <div class="controls">
                        <input type="text" data-ng-model="investedCapital" id="investedCapital" class="form-control" placeholder="Invested Capital" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark" id="mark" class="form-control" placeholder="Mark" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">IRR</label>
                    <div class="controls">
                        <input type="text" data-ng-model="IRR" id="IRR" class="form-control" placeholder="IRR" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Multiple</label>
                    <div class="controls">
                        <input type="text" data-ng-model="multiple" id="multiple" class="form-control" placeholder="Multiple" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='row dbu'>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="d_mark" id="d_mark" class="form-control" placeholder="Mark" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="d_IRR" id="d_IRR" class="form-control" placeholder="IRR" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="d_multiple" id="d_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="b_mark" id="b_mark" class="form-control" placeholder="Mark" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="b_IRR" id="b_IRR" class="form-control" placeholder="IRR" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="b_multiple" id="b_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="u_mark" id="u_mark" class="form-control" placeholder="Mark" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="u_IRR" id="b_IRR" class="form-control" placeholder="IRR" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="u_multiple" id="b_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+$/" required>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <input type="submit" ng-disabled='funds.$invalid' class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>