<section data-ng-controller="FundsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Fund</h1>
    </div>
    <div class="col-md-12">
        <form name='funds' class="form-horizontal" data-ng-submit="update()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fund.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Invested Capital</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fund.investedCapital" id="investedCapital" class="form-control" placeholder="Invested Capital" ng-pattern="/^\d+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fund.mark" id="mark" class="form-control" placeholder="Mark" ng-pattern="/^\d+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">IRR</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fund.IRR" id="IRR" class="form-control" placeholder="IRR" ng-pattern="/^\d+$/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Multiple</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fund.multiple" id="multiple" class="form-control" placeholder="Multiple" ng-pattern="/^\d+$/" required>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='row dbu'>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.d_mark" id="d_mark" class="form-control" placeholder="Mark" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.d_IRR" id="d_IRR" class="form-control" placeholder="IRR" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Downside Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.d_multiple" id="d_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.b_mark" id="b_mark" class="form-control" placeholder="Mark" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.b_IRR" id="b_IRR" class="form-control" placeholder="IRR" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Baseline Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.b_multiple" id="b_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside Mark</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.u_mark" id="u_mark" class="form-control" placeholder="Mark" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside IRR</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.u_IRR" id="b_IRR" class="form-control" placeholder="IRR" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Upside Multiple</label>
                            <div class="controls">
                                <input type="text" data-ng-model="fund.u_multiple" id="b_multiple" class="form-control" placeholder="Multiple" ng-pattern="/^\d+$/" required>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Update" ng-disabled='funds.$invalid' class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>