<section data-ng-controller="FundController">
	<div class='container'>
    <div class='row'>
      <br/>
      <ul class="nav nav-tabs">
        <!-- <li class="active"><a href="#"><h4>Fund I</h4></a></li>
        <li><a href="#"><h4>Fund IA</h4></a></li>
        <li><a href="#"><h4>Fund II</h4></a></li> -->
        <li data-ng-repeat="fund in funds" ng-init="test(first)" ng-class="{active: isActive(fund)}" ><a ng-click="test(fund)"><h4>{{fund.name}}</h4></a></li>
      </ul>
    </div>
    <div class='row'>
      <div class='col-xs-3'>
        <br/><br/>
        <h5>Invested Capital</h5>
        <h4>{{investedCapital | currency}}</h4>
        <h5>Mark</h5>
        <h4>{{mark | currency}}</h4>
        <h5>IRR</h5>
        <h4>{{IRR}}%</h4>
        <h5>Multiple</h5>
        <h4>{{multiple}}x</h4>
      </div>
      <div class='col-xs-9'>
          
        <div class='row'>
          <div class='col-xs-4'>
            <div class='capsule'>
              <h2 class="text-center">Downside</h2>
              <span class='downside {{p}}-active' ng-click="projection('downside')">
                <div class='capsule-info'>
                  <span class='title'>Mark</span>
                  <span class='info'>{{d_mark | currency}}</span>
                  <span class='title'>IRR</h6>
                  <span class='info'>{{d_IRR}}%</span>
                  <span class='title'>Multiple</span>
                  <span class='info'>{{d_multiple}}x</span>
                </div>
              </span>
            </div>
          </div>
          <div class='col-xs-4'>
            <div class='capsule'>
              <h2 class="text-center">Baseline</h2>
              <span class='baseline {{p}}-active' ng-click="projection('baseline')">
                <div class='capsule-info'>
                  <span class='title'>Mark</span>
                  <span class='info'>{{b_mark | currency}}</span>
                  <span class='title'>IRR</h6>
                  <span class='info'>{{b_IRR}}%</span>
                  <span class='title'>Multiple</span>
                  <span class='info'>{{b_multiple}}x</span>
                </div>
              </span>
            </div>
          </div>
          <div class='col-xs-4'>
            <div class='capsule'>
              <h2 class="text-center">Upside</h2>
              <span class='upside {{p}}-active' ng-click="projection('upside')">
                <div class='capsule-info'>
                  <span class='title'>Mark</span>
                  <span class='info'>{{u_mark | currency}}</span>
                  <span class='title'>IRR</h6>
                  <span class='info'>{{u_IRR}}%</span>
                  <span class='title'>Multiple</span>
                  <span class='info'>{{u_multiple}}x</span>
                </div>
              </span>
            </div>
          </div>
        <div>
      </div>
    </div>

    </div class='row'>
      <div class='col-xs-12'>
        <div class='row'>
          <div class="col-xs-8">
            <h2>Current Valuation</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Initial Investment</th>
                  <th>Fund Ownership</th>
                  <th>EV</th>
                  <th>IRR</th>
                  <th>Multiple</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in filtered">
                  <td>{{c.name}}</td>
                  <td>{{c.initial_investment | currency}}</td>
                  <td>{{c.fund_ownership | currency}}</td>
                  <td>{{c.ev | currency}}</td>
                  <td>{{c.irr}}</td>
                  <td>{{c.multiple}}</td>
                </tr>
                <!-- <tr>
                  <td>Bespoke Post</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>BlackBook</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>CirrusWorks</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>ClearServe</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>FlipTu</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>FlowSearch</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>Free Awesome</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>GateGuru</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>InSparQ</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>Internet Media Labs</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>Legacy</td>
                  <td>1,234,567</td>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <div class='col-xs-4'>
            <h2>Projected Exit</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Realized Cash</th>
                  <th>EV</th>
                  <th>Multiple</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="getProjection() === 'downside'" ng-repeat="c in filtered">
                  <td>{{c.d_cash | currency}}</td>
                  <td>{{c.d_ev | currency}}</td>
                  <td>{{c.d_multiple}}</td>
                </tr>

                <tr ng-show="getProjection() === 'baseline'" ng-repeat="c in filtered">
                  <td>{{c.b_cash | currency}}</td>
                  <td>{{c.b_ev | currency}}</td>
                  <td>{{c.b_multiple}}</td>
                </tr>

                <tr ng-show="getProjection() === 'upside'" ng-repeat="c in filtered">
                  <td>{{c.u_cash | currency}}</td>
                  <td>{{c.u_ev | currency}}</td>
                  <td>{{c.u_multiple}}</td>
                </tr>
                <!-- <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr>
                <tr>
                  <td>8,910,111</td>
                  <td>21,314,151</td>
                  <td>6.1</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>