<section data-ng-controller="FundController">
    <!-- <div class='row'>
      <br/>
      <ul class="nav nav-tabs">
        <li data-ng-repeat="fund in funds | orderBy: 'created'" ng-init="test(first)" ng-class="{active: isActive(fund)}" ><a ng-click="tab(fund)"><h4>{{fund.name}}</h4></a></li>
      </ul>
      <br/>
    </div> -->
  <div class='row'>
    <br/><br/>
    <div class='col-md-offset-4 col-md-8'>
      <div class='pull-right'>
        <a data-ng-click="dataOrNews('data')" ng-class="{active:newsdata_active('data')}" class='newsdata'>DATA</a>
        <a data-ng-click="dataOrNews('news')" ng-class="{active:newsdata_active('news')}"class='newsdata'>NEWS</a>
      </div>
    </div>
    <br/><br/>
  </div>


  <div class='row'>
    <div class='col-md-12'>
      <br/><br/>
      <table id='portfolio-overview' class='table'>
        <thead>
          <tr>
            <th>Invested Capital</th>
            <th ng-class="{ 'fund2disable' : fund_is.name === 'Fund II' }">Book Value Multiple</th>
            <th ng-class="{ 'fund2disable' : fund_is.name === 'Fund II' }">Forcasted Return Multiple</th>
          <tr>
        </thead>
        <tbody>
          <td>${{total | number: 0}}</td>
          <td ng-class="{ 'fund2disable' : fund_is.name === 'Fund II' }">{{totalev | number: 1}}x</td>
          <td ng-class="{ 'fund2disable' : fund_is.name === 'Fund II' }">
            <span ng-if="p === 'upside'">{{forcasted_u| number: 1}}x</span>
            <span ng-if="p === 'baseline'">{{forcasted_b| number: 1}}x</span>
            <span ng-if="p === 'downside'">{{forcasted_d| number: 1}}x</span>
          </td>
        </tbody>
      </table>
      <br/><br/>
    </div>
  </div>

  <div data-ng-show="data_or_news === 'data'">
    <div class='row'>
      <div class='col-xs-3 current' style='position: relative'>
        <select class="fund-control" data-ng-model="fund_is" data-ng-options="fund as ('&nbsp;'+ fund.name | uppercase) for fund in funds" ng-change="dropdowntest()"></select><b style='position: absolute; right: 40px; top: 30px;' class="caret"></b>
        <br/>
        <h5>Invested Capital</h5>
        <span class='currentvalue'>${{investedCapital | number: 0}}</span>
        <h5>Book Value</h5>
        <span class='currentvalue'>${{mark | number: 0}}</span>
        <h5>IRR</h5>
        <span data-ng-show="fund_is.name === 'Fund II'" class='currentvalue'>N/A</span>
        <span data-ng-hide="fund_is.name === 'Fund II'" class='currentvalue'>{{IRR}}%</span>
        <h5>Multiple</h5>
        <span class='currentvalue'>{{multiple}}&nbsp;x</span>
        <br/><br/>
        <p>
          Last updated<br/>
          <span style="color: #219C50;">{{updated | date:'longDate'}}</span>
        </p>
      </div>
      <div class='col-xs-9'>
        <div class='fund2overlay' data-ng-show="fund_is.name === 'Fund II'">
          <h1>These investments are not yet mature enough to accurately forecast the liquidity values and the fund is actively making new investments.</h1>
        </div>
        <h2 class='text-center green'>Projected Liquidity Values</h2>
        <div class='row'>
          <div class='col-xs-4'>
            <div class='capsule {{p}}-d'>
              <span class='downside {{p}}-active' ng-click="projection('downside')">
                <div class='capsule-info'>
                  <span class='title'>Projected Liquidity</span>
                  <span class='info'>{{d_mark | currency}}</span>
                  <!-- <span class='title'>IRR</h6>
                  <span class='info'>{{d_IRR}}%</span> -->
                  <span class='title'>Projected Multiple</span>
                  <span class='info'>{{d_multiple}}&nbsp;x</span>
                </div>
              </span>
               <h2 class="text-center">Downside</h2>
            </div>
          </div>
          <div class='col-xs-4'>
            <div class='capsule {{p}}-b'>
              <span class='baseline {{p}}-active' ng-click="projection('baseline')">
                <div class='capsule-info'>
                  <span class='title'>Projected Liquidity</span>
                  <span class='info'>{{b_mark | currency}}</span>
                  <!-- <span class='title'>IRR</h6>
                  <span class='info'>{{b_IRR}}%</span> -->
                  <span class='title'>Projected Multiple</span>
                  <span class='info'>{{b_multiple}}&nbsp;x</span>
                </div>
              </span>
              <h2 class="text-center">Baseline</h2>
            </div>
          </div>
          <div class='col-xs-4'>
            <div class='capsule {{p}}-u'>
              <span class='upside {{p}}-active' ng-click="projection('upside')">
                <div class='capsule-info'>
                  <span class='title'>Projected Liquidity</span>
                  <span class='info'>{{u_mark | currency}}</span>
                  <!-- <span class='title'>IRR</h6>
                  <span class='info'>{{u_IRR}}%</span> -->
                  <span class='title'>Projected Multiple</span>
                  <span class='info'>{{u_multiple}}&nbsp;x</span>
                </div>
              </span>
              <h2 class="text-center">Upside</h2>
            </div>
          </div>
        <div>
      </div>
    </div>
  </div>

  <div class='row'></div>
  <div class='row'>
    <br/><br/>
    <div class='col-xs-4 basic_info'>
      <div class='table-title-left'>Basic Information</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Company Name</th>
            <th class='text-center' >Investment</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in filtered | orderBy:'name':reverse">
            <td style='width: 15%'><a href="#!/companies/{{c._id}}"><img class='img-responsive' style='height: 17px;' src='{{c.image}}'/></a></td>
            <td style='width: 45%'><a href="#!/companies/{{c._id}}">{{c.name}}</a></td>
            <td class='text-center' style='width: 40%'>${{c.initial_investment | number:0}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-4 current_valuation">
      <div class='table-title-left'>Current Valuation</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NAV</th>
            <th>EV</th>
            <th class='text-center'>IRR</th>
            <th class='text-center'>Multiple</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in filtered | orderBy:'name':reverse">
            <td>${{c.fund_ownership | number:0}}</td>
            <td>${{c.ev | number:0}}</td>
            <td class='text-center'><span ng-if="c.irr == 0">N/A</span><span ng-if="c.irr !== 0">{{c.irr | number:1}}%</span></td>
            <td class='text-center'>{{c.multiple | number:1}}&nbsp;x</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-xs-4 projected_exit' ng-class="{ 'fund2disable' : fund_is.name === 'Fund II' }">
      <div class='table-title-right'>Projected Exit</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Realized Cash</th>
            <th>EV</th>
            <th class='text-center'>Multiple</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="getProjection() === 'downside'" ng-repeat="c in filtered | orderBy:'name':reverse">
            <td>${{c.d_cash | number:0}}</td>
            <td>${{c.d_ev | number:0}}</td>
            <td class='text-center'>{{c.d_multiple | number:1}}&nbsp;x</td>
          </tr>

          <tr ng-show="getProjection() === 'baseline'" ng-repeat="c in filtered | orderBy:'name':reverse">
            <td>${{c.b_cash | number:0}}</td>
            <td>${{c.b_ev | number:0}}</td>
            <td class='text-center'>{{c.b_multiple | number:1}}&nbsp;x</td>
          </tr>

          <tr ng-show="getProjection() === 'upside'" ng-repeat="c in filtered | orderBy:'name':reverse">
            <td>${{c.u_cash | number:0}}</td>
            <td>${{c.u_ev | number:0}}</td>
            <td class='text-center'>{{c.u_multiple | number:1}}&nbsp;x</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div></div>

  <div data-ng-show="data_or_news === 'news'">
    <div class='row'>
      <div class='col-sm-3'>
        <select class="fund-control" data-ng-model="fund_is" data-ng-options="fund as ('&nbsp;'+ fund.name | uppercase) for fund in funds" ng-change="dropdowntest()"></select><b style='position: absolute; right: 40px; top: 30px;' class="caret"></b>
        <br/>
      </div>
      <div class='col-sm-12'>
        <h2 data-ng-show='filtered_news' class='green'>Featured Companies</h3><br/>
        <div class='row'>
          <div ng-repeat="company in filtered_news | limitTo : 3" class='col-sm-4'>
              <div class='company-photo'>
                <a href="#!/companies/{{company._id}}"><img src='{{company.image}}' /></a>
              </div>
              <h3><a href="#!/companies/{{company._id}}">{{company.name}}</a></h3>
              <br/><br/>
          </div>
        </div>
      </div>

      <div class='col-md-12'>

        <h2 class='green'>Key Updates</h2><br/>
        <ul class='keyupdates'>

        <li ng-repeat="a in filter_keyupdates | orderBy: 'date_posted': true | limitTo: limit">
          <a href='#!/articles/{{a._id}}'>{{a.headline}}</a> 
          <span class='pull-right'>{{a.date_posted | date : short}}</span>
        </li>
        <a ng-click='more()' ng-show='showmore'>More</a>
        <a ng-click='less()' ng-show='showless'>Less</a>
      </ul>
      <br/><br/>
      </div>

      <div class='col-sm-12'>
        <h2 class='green'>Articles</h2><br/>
        <div class='row' ng-repeat="row in rows">
          <div class='col-sm-4' ng-repeat="articles in row">
              <div class='article-photo'>
                <a href="#!/articles/{{articles._id}}"><img src='{{articles.image}}' /></a><br/>
              </div>
              <h4><a href="#!/articles/{{articles._id}}">{{articles.headline}}</a></h4>
          </div>
          <hr/>
        </div>
        
      </div>

    </div>
  </div>

</section>