<section data-ng-controller="FundsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{fund.name}}</h1>
	</div>
	<!-- data-ng-show="authentication.user._id == fund.user._id" -->
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/funds/{{fund._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Updated on {{fund.updated | date:'mediumDate'}} by {{fund.user.displayName}}</em>
	</small>
</section>