.content {
	margin-top: 82px;
}
a.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html{
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Roboto Condensed', sans-serif !important;
}

header{
  height: 82px;
  line-height: 82px;
  background: #156333 !important;
  border-bottom: 1px solid #ccc;
}

body{
  color: #58585A;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #f5f5f5;
}

a.navbar-brand{
  padding: 0 !important;
  line-height: 82px;
  margin-left: 20px;
}

nav ul{
  float: left;
}

nav ul li{
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 0 18px 0 0;
}

nav ul li a{
  color: #fff;
}

nav ul li a:hover{
  color: #ddd;
}

nav ul li.active a{
  color: #ddd;
  text-decoration: underline;
}

nav ul.dropdown-menu{
  padding: 0;
}

nav ul.dropdown-menu li{
  display: block;
  padding: 0;
}

nav ul.dropdown-menu li a{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.investor{
  background: #fff;
  padding: 0 10px 0 30px;
  margin: 0;
}

.investor a{
  color: green !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}