<section data-ng-controller="KeyupdatesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Key Update</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="keyupdate.keyupdate" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Source</label>
                    <div class="controls">
                        <input type="text" data-ng-model="keyupdate.source" id="name" class="form-control" placeholder="Enter source" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="company">Company</label>
                    <select class="form-control" data-ng-model="keyupdate.company" data-ng-options="company._id as company.name for company in companies">
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>