 <div data-ng-controller="SettingsController" >
  <section class="row" data-ng-hide='user'>
    NONE
  </section>

  <section class="row" data-ng-show="user">
  <!--   <div class="col-md-12" data-ng-hide="user">
      Nothing
    </div> -->
    <br/><br/>
    <div class='col-md-12'>
      <div class='disclosure' data-ng-hide="disclosureRead" style='text-align: justify;'>
        By clicking accept, you are verifying that you are a Limited Partner of one or more Scout Ventures Funds, including BHV Entrepreneurship Fund, L.P., BHV Entrepreneurship Fund IA, L.P. and BHV Entrepreneurship Fund II, L.P. (each a “Fund” and together, the “Funds”) and that you are party to a Limited Partnership Agreement (the "Partnership Agreement") between you and one or more Funds. By clicking below, you are agreeing that all Fund information displayed on this website (a) is permitted, pursuant to the Partnership Agreement, to be delivered electronically via this database, (b) constitutes “Confidential Information,” as defined in the Partnership Agreement, and (c) shall be held by you in confidence and not disclosed to any third party without the prior written consent of the General Partner (as defined in the Partnership Agreement), except as explicitly permitted by the Partnership Agreement.
        <br/><br/><br/>
        <a style='text-align: center;display:block;' ng-click='accept()'>ACCEPT</a>
      </div>
    </div>
    <div id="LPinfo" class="col-md-3">
      <h1>{{user.displayName}}</h1>
      <br/>
      <div class="hexagon" my-background-profile="{{user.profile}}">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>

      <br/>

      <!--
      <button type="button" class="btn btn-default btn-lg" ng-click="dropbox()">
        <span class="glyphicon glyphicon-inbox"></span>&nbsp; Dropbox
      </button>

      <h4>Dropbox Path: {{path}}</h4>
      <h5>files</h5>
      <div ng-repeat="acct in accts | filter:{'is_dir': 'false'}">
        <a ng-click="test('{{acct.path}}')">{{acct.path}}</a><br/>
      </div>

      <h5>folders</h5>
      <div ng-repeat="acct in accts | filter:{'is_dir': 'true'}">
        {{acct.path}}<br/>
      </div>
      -->
      <h3>LP Information</h3>
      <br/>
      <table>

        <tr>
          <td class='title'>Name</td>
          <td>{{user.firstName}} {{user.lastName}}</td>
        </tr>
        <tr>
          <td class='title'>Legal Entity</td>
          <td>{{user.entity}}</td>
        </tr>
        <tr>
          <td class='title'>Phone #</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <td class='title'>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td class='title'>EIN/SS</td>
          <td>{{user.ein | hidess}}</td>
        </tr>
        <tr>
          <td class='title'>Address</td>
          <td>{{user.address1}} {{user.address2}}<br/>
              {{user.city}}, {{user.state}} {{user.zip}}
          </td>
        </tr>
      </table>
      <br/><br/>
      <h3>Preferred Point of Contact</h3>
      <br/>
      <table>
        <tr>
          <td class='title'>Name</td>
          <td>{{user.pp_name}}</td>
        </tr>
        <tr>
          <td class='title'>Title</td>
          <td>{{user.pp_title}}</td>
        </tr>
        <tr>
          <td class='title'>Email</td>
          <td>{{user.pp_email}}
          </td>
        </tr>
        <tr>
          <td class='title'>Phone</td>
          <td>{{user.pp_phone}}
          </td>
        </tr>
      </table>
      <br/><br/>
      <h3>Download Files</h3>
      <button type="button" class="btn btn-default" ng-click="dropbox()">
        <span class="glyphicon glyphicon-inbox"></span>&nbsp; Dropbox
      </button>
      <a ng-click="download(f)" ng-repeat="f in files" src="downloads/{{ f }}">{{f}}</a>
      <br/><br/><br/><br/>
    </div>
    <div class='col-md-offset-1 col-md-8'>
      <h3 class='green'>Key Metrics</h3>
      <div class='metrics'>
        <h3>Total Contributed Capital</h3>
        <h6>(to date)</h6>
        <h1>${{user.k1 | number:0}}</h1>
      </div>
      <div class='metrics'>
        <h3>Distributions</h3>
        <h6>(to date)</h6>
        <h1>${{user.distributions | number:0}}</h1>
      </div>
      <div class='metrics'>
        <h3>Total Accrued Interest</h3>
        <h6>(since last quarter)</h6>
        <h1>${{user.interest | number:0}}</h1>
      </div>
      <br/><br/><br/>
      <h3 class='green'>Portfolio Overview</h3>


      <table id='portfolio-overview' class='table'>
        <thead>
          <tr>
            <th></th>
            <th>Invested Capital</th>
            <th>Book Value</th>
            <th>Return</th>
            <th>Multiple</th> 
          <tr>
        </thead>
        <tbody>
          <tr>
            <td><a ng-click="gotoFund('Fund I')">FUND I</a></td>
            <td>${{totalFromFundI()| number:0}}</td>
            <td>${{evFromFundI() | number:0}}</td>
            <td>{{returnFundI() | number:1}}%</td>
            <td>{{fund_i_multiple| number:1}}&nbsp;X <span class="expand pull-right glyphicon glyphicon-plus" ng-click="toggleFund1($event)"></span></td>

          <tr ng-repeat="wire in wiresFromFund1" class='sub' ng-show="custom1">
              <td>{{offsetDate(wire.date) | date : longDate}}</td>
              <td>${{wire.amount | number:0}}</td>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td><a ng-click="gotoFund('Fund IA')">FUND IA</a></td>
            <td>${{totalFromFundIA()| number:0}}</td>
            <td>${{evFromFundIA() | number:0}}</td>
            <td>{{returnFundIA() | number:1}}%</td>
            <td>{{fund_ia_multiple| number:1}}&nbsp;X <span class="expand pull-right glyphicon glyphicon-plus" ng-click="toggleFund1a($event)"></span></td>
          <tr>

          <tr ng-repeat="wire in wiresFromFund1a" class='sub' ng-show="custom1a">
              <td>{{offsetDate(wire.date) | date : longDate}}</td>
              <td>${{wire.amount | number:0}}</td>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td><a ng-click="gotoFund('Fund II')">FUND II</a></td>
            <td>${{totalFromFundII()| number:0}}</td>
            <td>${{evFromFundII() | number:0}}</td>
            <td>{{returnFundII() | number:1}}%</td>
            <td>{{fund_ii_multiple | number:1}}&nbsp;X <span class="expand pull-right glyphicon glyphicon-plus" ng-click="toggleFund2($event)"></span></td>
          <tr>

          <tr ng-repeat="wire in wiresFromFund2" class='sub' ng-show="custom2">
            <td>{{offsetDate(wire.date) | date : longDate}}</td>
            <td>${{wire.amount | number:0}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr class='total'>
            <td><b>TOTAL</b></td>
            <td>${{total() | number:0}}</td>
            <td>${{totalEV() | number:0}}</td>
            <td></td>
            <td></td>
          <tr>
        <tbody>
      </table>
      <br/>
    </div>
  </section>
</div>