

<section class="row" data-ng-controller="SettingsController">
	<br/><br/>
	<div class='col-md-3'>
		<h1>Settings</h1>
		<div class="form-group">
      <label class="control-label" for="profile">Profile Image</label>
      <div class="controls">
          <div class='userwhatever' ng-if='user.profile'>
              <div id="UserProfile">
                  <img class='img-responsive' src='{{user.profile}}' ng-click='updateProfileImage()' />
              </div>
          </div>
          <div class='userwhatever2' ng-if="!user.profile">
              <div id="exampleDropPane" upload-profile>Drop Lead Image Here</div>
          </div>
      </div>
    </div>
    <h3>Personal Information</h3>
    <br/>
    <table>

      <tr>
        <td class='title'>Name</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
      </tr>
      <tr>
        <td class='title'>Email</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td class='title'>Address</td>
        <td>{{user.address1}}<br/>
            {{user.address2}}
        </td>
      </tr>
    </table>
    <br/><br/>
    <h3>Preferred Point of Contact</h3>
    <br/>
    <table>
      <tr>
        <td class='title'>Name</td>
        <td>{{user.pp_name}}</td>
      </tr>
      <tr>
        <td class='title'>Title</td>
        <td>{{user.pp_title}}</td>
      </tr>
      <tr>
        <td class='title'>Email</td>
        <td>{{user.pp_email}}
        </td>
      </tr>
      <tr>
        <td class='title'>Phone</td>
        <td>{{user.pp_phone}}
        </td>
      </tr>
    </table>

	</div>
	<div class="col-md-offset-1 col-md-8">
		<div class='row'>
			
			<br/>
			<form data-ng-submit="updateUserProfile()" class="signin form-horizontal" autocomplete="off">
				<fieldset>
					<h3>Personal Information</h3>	
					<br/>
					<div class='col-sm-5'>

						<div class="form-group">
							<label for="firstName">First Name</label>
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
						</div>
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
						</div>
					</div>

					<div class='col-sm-offset-1 col-sm-5'>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
						</div>
						<br/>
					</div>

					<div class='col-sm-11'>
						<div class="form-group">
							<label for="Address1">Address1</label>
							<input type="text" id="address1" name="address1" class="form-control" data-ng-model="user.address1" placeholder="Address1">
						</div>
						<div class="form-group">
							<label for="Address2">Address2</label>
							<input type="text" id="address2" name="address2" class="form-control" data-ng-model="user.address2" placeholder="Address2">
						</div>
						<br/><br/>
					</div>
					
					<h3>Preferred Point of Contact Information</h3>
					<br/>
					<div class='col-sm-11'>
						<!-- <div class="form-group">
							<label for="Address2">K1 Values</label>
							<input type="text" id="k1_values" name="k1_values" class="form-control" data-ng-model="user.k1" placeholder="K1 Values">
						</div>
						<div class="form-group">
							<label for="Address2">Distributions</label>
							<input type="text" id="distributions" name="distributions" class="form-control" data-ng-model="user.distributions" placeholder="Distributions">
						</div>
						<div class="form-group">
							<label for="Address2">Accrued Interest</label>
							<input type="text" id="accrued_interest" name="accrued_interest" class="form-control" data-ng-model="user.interest" placeholder="Accrued Interest">
						</div> -->

							<div class="form-group">
								<label for="pp_name">Name</label>
								<input type="text" id="pp_name" name="pp_name" class="form-control" data-ng-model="user.pp_name" placeholder="Name">
							</div>
							<div class="form-group">
								<label for="pp_title">Title</label>
								<input type="text" id="pp_title" name="pp_title" class="form-control" data-ng-model="user.pp_title" placeholder="Title">
							</div>
							<div class="form-group">
								<label for="pp_email">Email</label>
								<input type="text" id="pp_email" name="pp_email" class="form-control" data-ng-model="user.pp_email" placeholder="Email Address">
							</div>
							<div class="form-group">
								<label for="pp_phone">Phone</label>
								<input type="text" id="pp_phone" name="pp_phone" class="form-control" data-ng-model="user.pp_phone" placeholder="Phone">
							</div>
							<br/>
							<div class="pull-right form-group">
								<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
							</div>

							<div data-ng-show="success" class="text-success">
								<strong>Profile Saved Successfully</strong>
							</div>
							<div data-ng-show="error" class="text-danger">
								<strong>{{error}}</strong>
							</div>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
<!-- 	<div class='col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-5'>
		Dropbox stuff<br/>
		{{user.email}}<br/>
		{{user.username}}<br/>
		{{user.einss}}<br/>
		{{user.address1}}<br/>
		{{user.address2}}<br/>
		{{user.bank_account_name}}<br/>
		{{user.bank_account_routing_number}}<br/>
		{{user.bank_account_number}}<br/>
		<br/>
		{{user}}

	</div> -->
</section>