<section data-ng-controller="WiresController">
    <div class="page-header">
        <h1>New Wire</h1>
    </div>
    <div class="col-md-12">
        <form name='wires' class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="company">Fund</label>
                    <select class="form-control" data-ng-model="fund" data-ng-options="fund.name as fund.name for fund in funds">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="company">LP Name</label>
                    <select class="form-control" data-ng-model="lp" data-ng-options="user as user.firstName +' '+ user.lastName for user in users">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="amount">Wire Amount</label>
                    <div class="controls">
                        <input type="text" data-ng-model="amount" ng-pattern="/^\d+$/" id="amount" class="form-control" placeholder="Enter Amount" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="date">Date (MM/DD/YYYY)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="date" id="date" class="form-control" placeholder="Enter Date" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" ng-disabled="wires.$invalid" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>