<section data-ng-controller="CompaniesController" data-ng-init="findOne()">
  <br/>

  <div class='row'>
    <!-- data-ng-show="authentication.user.username == 'jamesryan'" -->
    <div class="pull-right">
      <a class="btn btn-primary" href="/#!/companies/{{company._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>

  <div class='col-md-3'>
    <!-- <div class='row'>
      <img class="img-responsive" src="{{company.image}}" />
      <hr/>
    </div> -->
    <!-- <p>{{company}}</p> -->
    <h1>{{company.name}}</h1>
    <br/>
    <div class="hexagon" my-background-image="{{company.image}}">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <br/>
    <h3>Company Information</h3>
      <table>
        <tr>
          <td class='title' style="padding-right: 15px">CEO Name</td>
          <td>{{company.ceo_name}}</td>
        </tr>
        <tr>
          <td class='title' style="padding-right: 15px">CEO Email</td>
          <td>{{company.ceo_email}}</td>
        </tr>
        <tr><td>&nbsp;<td/><td>&nbsp;</td><tr/>
        <tr>
          <td class='title' style="padding-right: 15px">CFO Name</td>
          <td>{{company.cfo_name}}</td>
        </tr>
        <tr>
          <td class='title' style="padding-right: 15px">CFO Email</td>
          <td>{{company.cfo_email}}</td>
        </tr>
      </table>
  </div>

  <div class='col-md-offset-1 col-md-8'>
    <h3>Current Valuation</h3>
    <table class="table">
      <tr>
        <th>Initial Investment</th>
        <th>Fund Ownership</th>
        <th>EV</th>
        <th>IRR</th>
        <th>Multiple</th>
      </tr>
      <tr>
        <td>{{company.initial_investment}}</td>
        <td>{{company.fund_ownership}}</td>
        <td>{{company.ev}}</td>
        <td>{{company.irr}}</td>
        <td>{{company.multiple}}</td>
      </tr>
    </table>
    <h3>Company Description</h3>
      {{company.description}}
    <h3>Key Updates</h3>
    <span class='pull-right' style='padding-right: 20px'><b>Post Date</b></span>
    <br/><br/>
    <ul class='keyupdates'>
      <li ng-repeat="k in keyupdates">{{k.keyupdate}} <span class='pull-right'>{{k.created | date : short}}</span></li>
    </ul>

    <br/>
    <h3>Investment Amount</h3>
    <span class='pull-right' style='padding-right: 20px'><b>Wire Date</b></span>
    <br/><br/>
    <ul class='investments'>
      <li ng-repeat="i in invest">{{i.amount | currency:"$"}} <span class='pull-right'>{{i.created | date : short}}</li>
    </ul>
    <br/><br/>
    <h3 imagefill>Articles</h3>
    <div class='row' ng-repeat="row in rows">
        <div class='col-sm-4' ng-repeat="articles in row">
            <div class='article-photo'>
              <img src='{{articles.image}}' /><br/>
            </div>
            <h4><a href='{{articles.link}}' target="_blank">{{articles.content}}</a></h4>
        </div>
        <hr/>
    </div>
  </div>

</section>