<section data-ng-controller="CompaniesController" data-ng-init="findOne()">
  <br/>

  <div class='col-md-3'>
    <h1 class='green'>{{company.name}}</h1>
    <img data-ng-show='company.is_va' src='img/va.jpeg' />
    <br/>
    <div class="hexagon" my-background-image="{{company.image}}">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <br/>
    <h3 class='green'>Company Information</h3>
      <table>
        <tr>
          <td class='title' style="padding-right: 15px">CEO Name</td>
          <td>{{company.ceo_name}}</td>
        </tr>
        <tr>
          <td class='title' style="padding-right: 15px">Location</td>
          <td>{{company.address1}} <br/>
              {{company.address2}}
          </td>
        </tr>
        <tr>
          <td class='title' style="padding-right: 15px">URL</td>
          <td>{{company.url}}</td>
        </tr>
      </table>
  </div>

  <div class='col-md-offset-1 col-md-8'>
    <h3 class='green'>Current Valuation</h3>
    <div class='company-metrics company-metrics1'>
        <h3>Initial Investment</h3>
        <h6>(to date)</h6>
        <h1>${{company.initial_investment | number:0}}</h1>
    </div>
    <div class='company-metrics company-metrics2'>
        <h3>Fund Ownership</h3>
        <h6>(to date)</h6>
        <h1>${{company.fund_ownership | number:0}}</h1>
    </div>
    <div class='company-metrics company-metrics3'>
        <h3>IRR</h3>
        <h6>(to date)</h6>
        <h1>{{company.irr}}%</h1>
    </div>
    <div class='company-metrics company-metrics4'>
        <h3>Multiple</h3>
        <h6>(to date)</h6>
        <h1>{{company.multiple}}</h1>
    </div>

    <h3 class='green'>Company Description</h3>
      {{company.description}}
    <h3 class='green'>Key Updates</h3>
    <span class='pull-right' style='padding-right: 20px'><b>Post Date</b></span>
    <br/><br/>
    <ul class='keyupdates'>
      <!-- <li ng-repeat="k in keyupdates">
        {{k.keyupdate}} 
        <span class='pull-right'>{{k.created | date : short}}</span>
      </li> -->

      <li ng-repeat="a in articles_keyupdates">
        <a href='#!/articles/{{a._id}}'>{{a.headline}}</a> 
        <span class='pull-right'>{{a.date_posted | date : short}}</span>
      </li>
    </ul>

    <br/><br/>
    <h3 class='green' imagefill>Articles</h3>
    <div class='row' ng-repeat="row in rows">
        <div class='col-sm-4' ng-repeat="articles in row">
            <div class='article-photo'>
              <a href="#!/articles/{{articles._id}}"><img src='{{articles.image}}' /></a><br/>
            </div>
            <h4><a href="#!/articles/{{articles._id}}">{{articles.headline}}</a></h4>
        </div>
        <hr/>
    </div>
    <br/><br/>
    <h3 class='green'>Investment Amount</h3>
    <!-- <span class='pull-right' style='padding-right: 20px'><b>Investment Date</b></span>
    <br/><br/>
    <ul class='investments'>
      <li ng-repeat="i in invest">{{i.amount | currency:"$"}} <span class='pull-right'>{{i.date | date : short}}</li>
    </ul> -->

    <table style="width: 100%">
      <tr>
        <th>Amount</th>
        <th>Type</th>
        <th style='text-align: right;'>Investment Date</th>
      </tr>
      <tr ng-repeat="i in invest" style="background: #d3e0d9; border-bottom: 10px solid #f5f5f5">
        <td style='width: 50%; padding: 10px'>+&nbsp;{{i.amount | currency:"$"}}</td>
        <td style='width: 25%; padding: 10px'>{{i.type}}</td>
        <td style='width: 25%; padding: 10px; text-align: right;'>{{i.date | date : short}}</td>
      </tr>
    </table>
  </div>

</section>