/* create.html */

.dbu .controls{
  margin-right: 10px;
}

/* fund.html */

.capsule{
  width: 250px;
  text-align: center;
}

.downside{
  display: block;
  position: relative;
  background: url(../img/downside02.png);
  height: 250px;
  width: 250px;
  background-position: 0 0;
}

.downside:hover{
  background-position: 0 -250px;
}

.baseline{
  display: block;
  position: relative;
  background: url(../img/baseline02.png);
  height: 250px;
  width: 250px;
  top: 0;
}

.baseline:hover{
  background-position: 0 -250px;
}

.upside{
  display: block;
  position: relative;
  background: url(../img/upside02.png);
  height: 250px;
  width: 250px;
  top: 0;
}

.upside:hover{
  background-position: 0 -250px;
}

.capsule-info{
  position: relative;
  top: 68px;
}

.title{
  font-weight: bold;
  display: block;
}

.info{
  display: block;
  font-weight: 200;
}